# Builds and publishes the documentation website to gh-pages branch
name: Build docs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Setup DocFX
        run: dotnet tool restore

      - name: Setup Bonsai
        working-directory: .bonsai
        run: ./Setup.ps1
        
      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore
        
      - name: Build Documentation
        working-directory: docs
        run: ./build.ps1

      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
